.iPhoneCheckContainer,
.iPhoneCheckContainer2 {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iPhoneCheckContainer input,
  .iPhoneCheckContainer2 input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iPhoneCheckContainer label,
  .iPhoneCheckContainer2 label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer2, .iPhoneCheckContainer label, .iPhoneCheckContainer2 label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iPhoneCheckLabelOn,
label.iPhoneCheckLabelOn2
 {
  color: white;
  background: url('../img/iphone-style/on.png') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff,
label.iPhoneCheckLabelOff2 {
  color: #8b8b8b;
  background: url('../img/iphone-style/off.png') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle,
.iPhoneCheckHandle2 {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../img/iphone-style/slider_left.png') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandle2{
  background: blue;
  border-radius: 3px;
}

.iPhoneCheckHandleRight,
.iPhoneCheckHandleRight2 {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('../img/iphone-style/slider_right.png') no-repeat right 0; }

.iPhoneCheckHandleCenter,
.iPhoneCheckHandleCenter2 {
  height: 100%;
  width: 100%;
  background: url('../img/iphone-style/slider_center.png'); }

/* tchap : for CSS */
.iPhoneCheckContainer { width: 92px; }
.iPhoneCheckHandle { width: 40px; }

/* Tracks and albums checkbox */
.noBG {
  background: none !important;
}


.otherContainer {
  border: 1px solid black;
  margin: 0 10px;
  background: #282828 !important;
  border-radius: 4px;
  box-shadow: 0 0 5px black inset, 0 1px #282828;
}

.otherHandle {
  width: 42px;
  top: -1px;
  border: 1px solid black;
  background: #222;
  background-image: -moz-linear-gradient(center top , #333333 0%, #181818 100%);
  background-image: -webkit-gradient(linear, left top,left bottom, color-stop(0,#333333), color-stop(1,#181818));
  border-radius: 4px; 
  margin-left: -1px;
}

.activeTracks{
  background: url('../img/track_on.png') no-repeat 9px 3px;
}
.activeAlbums{
  background: url('../img/album_on.png') no-repeat 9px 3px;
}

.otherContainer label {
  height: 22px;
}

label.iPhoneCheckLabelOn.albums{
  background: url('../img/album_off.png') no-repeat 13px 4px;
}
label.iPhoneCheckLabelOff.tracks{
  background: url('../img/track_off.png') no-repeat 54px 3px;
}